.container {
    text-align: center;
}

.info img, .info p {
    display: inline-block;
    vertical-align: top;
}

.info img {
    width: 250px;
}

.info, .events {
    display: block;
    padding: 15px;
}

.info p {
    margin: 15px 40px;
}

.joined_events p {
    margin: 50px;
}