.container {
    text-align: center;
}

.info img, .user-details {
    display: inline-block;
    vertical-align: top;
}

.info img {
    width: 250px;
}

.user-details {
    width: 950px;
}

.info, .events {
    display: block;
    padding: 15px;
}

.info p {
    margin: 15px 40px;
}

.placeholder2 {
    display: inline-block;
    margin: 20px;
    width: 250px;
    height: 250px;
    background-color: blue;
}

.placeholder {
    display: inline-block;
    margin: 20px;
    width: 250px;
    height: 250px;
    background-color: Red;
}

.options h6 {
    display: inline-block;
    margin: 5px;
}

.option:hover {
    cursor: pointer;
    text-decoration: underline;
}

.event-box {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 250px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;    
}

.event-box p {
    margin: 30px auto;
    display: block;
}